@import 'utils/variables';
@import 'utils/general';
@import 'utils/menu';
@import 'utils/header';
@import 'utils/products';
@import 'utils/nouveautes';
@import 'utils/informations';
@import 'utils/graphique';
@import 'utils/footer';

/****************************************
 *	Body
 ****************************************/

html, body{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}