/*******************************************
FOOTER
*******************************************/
.footer {
  margin-top: 78px;
  display: block;
  height: 260px;
  background: $blue;
  color: $white;
  font-family: $font;
  font-size: 14px;
  line-height: 20px;
  @media screen and (max-width: 1024px){
    height: auto;
  }
  &__wrapper {
    display: block;
    width: 920px;
    margin: auto;
    padding: 46px;
    @media screen and (max-width: 1024px){
      width: calc(100% - 100px);
    }
    @media screen and (max-width: 1024px){
      height: 400px;
    }
  }
  &__nav {
    float: left;
    width: 230px;
    @media screen and (max-width: 1024px){
      width: 25%;
    }
    @media screen and (max-width: 768px){
      width: 50%;
      margin-bottom: 50px;
      text-align: center;
    }
    &:last-child {
      margin: 0;
    }
  }
  &__title {
    margin-bottom: 30px;
    font-weight: bold;
  }
  &__li {
    a {
      color: $grey-1;
      text-decoration: none;
      transition: 0.5s;
      &:hover {
        color: $white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.5s;
      }
    }
  }
}
