@mixin transition($in) {
  transition:$in;
  -webkit-transition:$in;
  -moz-transition:$in;
  -o-transition:$in;
  -ms-transition:$in;
}
@mixin transform($in) {
  transform:$in;
  -webkit-transform:$in;
  -moz-transform:$in;
  -o-transform:$in;
  -ms-transform:$in;
}
@mixin animation($in) {
  animation:$in;
  -webkit-animation:$in;
  -moz-animation:$in;
  -o-animation:$in;
  -ms-animation:$in;
}

/****************************************
 *	Body
 ****************************************/
body{
  //background-image: url(../images/Maquette-2.png);
  background-position-x: center;
  background-repeat: no-repeat;
  //opacity: 0.6;
}
/****************************************
 *	Button
 ****************************************/
.button {
  height: 33px;
  width: 150px;
  background: none;
  text-align: left;
  padding-left: 10px;
  cursor: pointer;
  border: 1px solid;
  border-radius: 2px;
  position: relative;
  a{
    text-decoration: none;
    text-transform: lowercase;
    position:absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    line-height: 31px;
    padding-left: 10px;
    img{
      float: right;
    }
  }
  &--main-header-article-content{
    position: absolute;
    bottom: 50px;
    border-color: $white;
    a{
      color: $white;
      img{
        filter: brightness(100);
      }
      box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
      outline: 1px solid;
      outline-color: rgba(255, 255, 255, 0.7);
      outline-offset: 0px;
      text-shadow: none;
      transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
      &:hover {
        box-shadow: inset 0 0 20px rgba(255, 255, 255, 1), 0 0 20px rgba(255, 255, 255, 1);
        outline-color: rgba(255, 255, 255, 0);
        outline-offset: 40px;
        text-shadow: 1px 1px 2px #427388;
      }
    }
  }
  &--figcaption{
    border-color: $black;
    a{
      color: $black;
    }
  }
  &--slides__caption{
    position: relative;
    top: 31px;
    a{
      color: $black;box-shadow: inset 0 0 20px rgba(0, 0, 0, 0);
      outline: 1px solid;
      outline-color: rgba(0, 0, 0, 0.7);
      outline-offset: 0px;
      text-shadow: none;
      transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
      &:hover {
        box-shadow: inset 0 0 20px rgba(0, 0, 0, 1), 0 0 20px rgba(0, 0, 0, 1);
        outline-color: rgba(0, 0, 0, 0);
        outline-offset: 40px;
        text-shadow: 1px 1px 2px #427388;
      }
    }
  }
  &--infos{
    float: right;
    width: 102px;
    border-color: $grey-1;
    position: relative;
    top: 10px;
    @media screen and (max-width: 1024px){
      display: none;
    }
  }
  &--historique, &--voir-tous{
    margin: auto;
    border-color: $grey-1;
    display: block;
    width: 127px;
    background-color: $white ;
    position: relative;
    bottom: 16px;

    @include transition(all 0.5s ease);

    &:hover {
      @include animation(shakeThatBooty 0.3s linear 1);
    }

    @keyframes shakeThatBooty {
      33% {
        @include transform(rotateZ(10deg));
      }
      67% {
        @include transform(rotateZ(-10deg));
      }
      100% {
        @include transform(rotateZ(10deg));
      }
    }
    a{
      color: $black;
      }
  }
  &--historique{
    a img {
      position: absolute;
      right:0;
    }
  }
  &--voir-tous{
    width: 170px;
    a {
      padding: 0;
    }
    a img {
      float: left;
      transform: rotate(90deg);
    }
  }
}
/****************************************
 *	list products
 ****************************************/
.list-article__select, .graph__tri{
  float: right;
  label{
    font-size: 14px;
    font-family: $font;
    text-transform: lowercase;
    line-height: 32px;
    padding-right: 10px;
    padding-left: 25px;
  }
  select{
    width: 115px;
    height: 32px;
    background-color: transparent;
    border-radius: 1px;
    box-shadow: 1px 1px 8px 0.1px grey
  }
}
.graph__title, .list-article__title{
  font-family: $font;
  font-size: 25px;
}
.deg{
  display: block;
  width: 100%;
  &--orange{
    position: relative;
    top: -17px
  }
  &--green{
    position: relative;
    top: -7px
  }
}

/****************************************
 *	Others
 ****************************************/
.button-hidden, .item-hidden{
  opacity: 0;
  transition: 0.5s;
}
.infos-hidden{
  display: none;
}