/*******************************************
GRAPHIQUE
*******************************************/
.graph{
  height: 360px;
  background-color: $orange;
  padding-top: 40px;

  &__header{
    width: 920px;
    margin: auto;
    @media screen and (max-width: 1024px){
      margin: auto 50px;
      width: calc(100% - 100px);
    }
    @media screen and (max-width: 768px){
      margin-top: 50px;
    }
    @media screen and (max-width: 480px){
      margin: auto 10px;
      width: calc(100% - 20px);
    }
  }
  &__picture{
    margin: auto;
    display: block;
    width: 1366px;
    position: relative;
    top: 13px;
    @media screen and (max-width: 1366px) {
      margin: auto 50px;
      width: calc(100% - 100px);
    }
    @media screen and (max-width: 1366px) {
      margin: auto;
      width: 100%;
      top: 50px
    }
    @media screen and (max-width: 480px){
      margin: auto 10px;
      width: calc(100% - 20px);
    }
  }
  &__title{
    color: $white;
    font-size: 14px;
    position: relative;
    top: 10px;
    left: 50px;
    @media screen and (max-width: 768px){
      left: 0;
      top: -80px;
    }
  }
  &__tri{
    color: $white;
    @media screen and (max-width: 768px){
      width: 50%;
      text-align: center;
    }
    label{
      @media screen and (max-width: 768px){
        padding: 0;
      }
    }
    select{
      color: $white;
      border-color: $white;
    }
  }
}