/*******************************************
ARTICLE HEADER
*******************************************/
.main__header{
  background-color: $blue;
  &__article{
    background-image: url(../images/velo-article-header.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
    height: 399px;
    //opacity: 0.7;
    @media screen and (max-width: 1440px){
      background-size: 150%;
    }
    @media screen and (max-width: 1024px){
      background-size: 200%;
    }
    @media screen and (max-width: 768px){
      background-size: 250%;
    }
    @media screen and (max-width: 480px){
      display: none;
    }
    &__content{
      width: 920px;
      margin: auto;
      height: 350px;
      padding-top: 50px;
      position: relative;
      font-size: 12px;
      color: $white;
      font-family: $font;
      @media screen and (max-width: 1024px){
        width: calc(100% - 100px);
        margin: auto 50px;
      }
      p{
        padding-top: 15px;
      }
      h1{
        font-size: 14px;
        font-weight: bold;
      }
    }
  }
}
