/*******************************************
*INFORMATIONS
*******************************************/
.infos{
  height: 564px;
  width: 920px;
  margin: auto;
  background-color: $white;
  padding-top: 20px ;
  @media screen and (max-width: 1024px) {
    margin: auto 50px;
    width: calc(100% - 100px);
  }
  @media screen and (max-width: 768px) {
    padding: 0;
    height: auto;
  }
  &__title{
    font-family: $font;
    font-size: 18px;
    position: relative;
    top: 30px;
    @media screen and (max-width: 768px) {
      top: 0;
    }
  }
  &__historique, &__formations{
    width: 436px;
    float: left;
    margin: 0;
    @media screen and (max-width: 1024px){
      width: calc(50% - 25px);
    }
    @media screen and (max-width: 768px){
      width: 100%;
      float: none;
      margin: 20px auto ;
    }
    > p {
      @media screen and (max-width: 768px) {
        background-image: url(../images/arrow_buttons.png);
        background-position: right;
        background-repeat: no-repeat;
        margin: 50px auto;
        font-size: 18px;
        font-weight: bold;
      }
    }
  }
  &__formations{
    float:right;
    @media screen and (max-width: 768px){
      float: none;
    }
    .infos__img{
      margin-right: 17px;
    }
    .infos__li:last-child{
      border-color: transparent;
    }
  }
  ul {
    margin-top: 50px;
    @media screen and (max-width: 768px){
      margin-top: 20px;
    }
  }
  &__li{
    padding: 25px 0;
    border-bottom: 1px solid $grey-1;
    &:hover .button--infos{
      opacity: 1;
      transition: 0.5s;
    }
    &:last-child{
      padding-bottom: 44px;
    }
    &.attention .infos__img, &.attention .button--infos{
      border-color: $orange;
    }
    &.receptionnee .infos__img, &.receptionnee .button--infos{
      border-color: $green;
    }
    &.attention .button--infos img:after {
      background-color: $orange;
    }
    &.receptionnee .button--infos img{

    }
  }
  &__img, &__icon{
    width: 49px;
    height: 49px;
    border-radius: 50px;
    float: left;
    border:1px solid $grey-1;
  }
  &__icon{
    position: relative;
    right: 15px;
    background-color: $grey-1;
    &.attention{
      background-color: $orange;
      border-color: $orange;
    }
    &.receptionnee{
      background-color: $green;
      border-color: $green;
    }
  }
  &__details {
    width: calc(100% - 105px);
    display: inline-block;
    font-family: $font;
    @media screen and (max-width: 1024px){
      width: 100%;
    }
  }
  &__p{
    font-size: 12px;
    margin-bottom: 10px;
    strong{
      font-size: 14px;
      font-weight: bold;
    }

  }
  &__status {
    font-size: 10px;
    color: $grey-1;
    &.attention{
      color: $orange;
    }
    &.receptionnee{
      color: $green;
    }
  }
}
.icon--info, .icon--tick, .icon--truck {
  text-align: center;
  display: block;
  font-size: 22px;
  color: $grey-4;
}
