/*******************************************
MENU
*******************************************/
.header-principal {
  border-bottom: 1px solid #fff;
  background-color: $blue;
  &__nav{
    &--left {
      float: left;
    }
    &--right {
      float: right;
      .header-principal__li a {
        margin-left: 25px;
        margin-right: 0;

      }
    }
  }
  div{
    width: 920px;
    margin: auto;
    height: 100px;
    @media screen and (max-width: 1024px) {
      margin: auto 50px;
      width: calc(100% - 100px);
    }
    @media screen and (max-width: 480px){
      margin: auto 10px;
      width: calc(100% - 20px);
    }
  }
  &__li{
    display: inline-block;
    a{
      text-decoration: none;
      color: $grey-1;
      font-family: $font;
      font-size: 15px;
      display: inline-block;
      line-height: 100px;
      margin-right: 25px;
      position: relative;
      @media screen and (max-width: 480px){
        font-size: 12px;
      }
      &:after {
        position: absolute;
        transition: .3s;
        content: '';
        width: 0;
        left: 50%;
        bottom: 0;
        height: 3px;
        background: $white;
      }
      &:hover{
        color: $white;
        &:after {
          width: 100%;
          left: 0;
        }
      }
      img{
        margin-left: 10px;
      }
    }
    &--active a{
      color: $white;
      &:after {
        position: absolute;
        transition: .3s;
        content: '';
        width: 100%;
        left: 0;
        bottom: 0;
        height: 3px;
        background: $white;
      }
    }
  }
}