/*******************************************
NOUVEAUTES
*******************************************/
.nouveaute{
  height: 420px;
  margin-top: -7px;
  background: $green;
  @media screen and (max-width: 1024px){
    height: 620px;
  }
  &__title, .slider{
    margin: auto;
    width: 920px;
    @media screen and (max-width: 1024px){
      margin: auto 50px;
      width: calc(100% - 100px);
    }
    @media screen and (max-width: 480px){
      margin: auto 10px;
      width: calc(100% - 20px);
    }
  }
  &__title{
    font-size: 14px;
    font-weight: bold;
    font-family: $font;
    text-align: center;
    padding-top: 30px;
  }
  .slider{
    &__wrapper{
      width: 820px;
      display: inline-block;
      margin-top: 58px;
      position: relative;
      left: 35px;
      @media screen and (max-width: 1024px){
        width: calc(100% - 50px);
        position: static;
      }
    }
    &__bullets{
      position: relative;
      top: 220px;
      text-align: center;
      @media screen and (max-width: 1024px){
        top: 430px;
      }
      li {
        display: inline-block;
      }
      &__thumb {
        border: 1px solid $white;
        border-radius: 50px;
        margin: 0 5px;
        width: 38px;
      }
    }
  }
  .slides{
    height: 180px;
    position: absolute;
    @media screen and (max-width: 1024px){
      width: calc(100% - 138px);
    }
    &__img{
      float: left;
      @media screen and (max-width: 1024px){
        float: none;
        display: block;
        margin: auto;
      }
      @media screen and (max-width: 768px){
        width: 300px;
      }
    }
    &__caption{
      margin-left: 430px;
      font-family: $font;
      font-size: 14px;
      line-height: 16px;
      color: $black;
      width: 350px;
      @media screen and (max-width: 1024px){
        margin: 30px auto;
        text-align: center;
      }
      @media screen and (max-width: 480px){
        margin: 20px auto;
        width: 300px;
      }
      &__h1{
        margin-bottom: 20px;
        font-size: 16px;
      }
    }
  }
}

.slider__arrow img{
  position: relative;
  transition: 0.5s;
  &:hover{
    transition: 0.5s;
    transform: scale(1.2);
  }
}

.slider__arrow{
  position: relative;
  top: 130px;
  @media screen and (max-width: 480px){
    display: none;
  }
  &--left{
    float: left;
  }
  &--right{
    float: right;
    text-align: right;

  }
}
