/*******************************************
PRODUCTS
*******************************************/
.list-article{
  height: 380px;
  background-color: $white;
  width: 920px;
  margin: auto;
  @media screen and (max-width: 1024px){
    margin: auto 50px;
    width: calc(100% - 100px);
  }
  @media screen and (max-width: 768px){
    height: 400px;
  }
  @media screen and (max-width: 655px){
    height: 700px;
  }
  @media screen and (max-width: 480px){
    margin: auto 10px;
    width: calc(100% - 20px);
  }
  &--bestsellers, &--tous-modeles{
    @media screen and (max-width: 1024px){
      margin: 0;
      width: 100%;
    }
  }
  &__ul{
    position: relative;
    top: 42px;
    @media screen and (max-width: 768px){
      width: auto;
    }
  }
  &:hover{
    .list-article__li{
      filter: grayscale(100) ;
    }
  }
  &__li:hover{
    transform: scale(1.2);
    transition: 1s;
    position: relative;
    z-index: 10;
    filter: grayscale(0) !important;
  }
  &__li{
    float: left;
    background-color: $grey;
    width: 180px;
    height: 220px;
    margin-right: 5px;
    transition: 1s;
    @media screen and (max-width: 655px){
      margin: auto calc(25% - 90px) 50px;
    }
    &--article-4{
      margin-right: 0;
    }
  }

  &__article{
    position: relative;
    cursor: default;
    &__img{
      background-color: $grey-2;
    }
    h1{
      font-size: 18px;
      font-family: $font;
      font-weight: bold;
      color: $grey-3;
      padding: 10px 15px;
    }
    &__detail{
      font-size: 11px;
      font-family: $font;
      color: $grey-3;
      padding: 0 15px;
    }
    &__stock{
      position: absolute;
      display: block;
      width: 170px;
      padding: 3px 5px;
      bottom:-45px;
      text-align: right;
      font-size: 11px;
      font-family: $font;
      font-weight: bold;
      color: $grey-1;
      border-bottom: 4px solid $grey-1;
      &--low{
        border-color: $orange;
        color: $orange;
      }
    }
  }
  &__header{
    padding-top: 43px;
    line-height: 32px;
    &--tous-modeles{
      padding-top: 13px;
      .list-article__select{
        @media screen and (max-width: 768px){
          float: right;
          position: relative;
          top: 50px;
        }
      }
      p{
        @media screen and (max-width: 768px){
          position: relative;
          top: -50px;
        }
      }
    }

  }
  &__recherche{
    float: right;
    width: 212px;
    height: 26px;
    padding-left: 40px;
    background-image: url(../images/loupel.svg);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position-x: 10px;
    background-position-y: 5px;
    border-bottom: 1px solid $grey-1;
    @media screen and (max-width: 768px){
      float: none;
      position: relative;
      top: 50px;
      width: 100px;
    }
  }
  &--tous-modeles{
    height: 312px;
    border-bottom: 1px solid $grey-1;
    @media screen and (max-width: 655px){
      height: 600px;
    }
  }
}
