/****************************************
 *	Variables
 ****************************************/

/********************
 *	Colors
 ********************/

$blue: #170cff;
$green: #0CFF56;
$orange: #FF3F0C;
$white: #fff;
$grey: #efefef;
$grey-1: #C6C6C6;
$grey-2: #e6e6e6;
$grey-4: #a6a6a6;
$grey-3: #555555;
$black: #000;

/********************
 *	Fonts
 ********************/

$font: arial;